<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/poker</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.coursework.poker.entity.AccountEntity"/>
        <mapping class="com.coursework.poker.entity.CityEntity"/>
        <mapping class="com.coursework.poker.entity.CountryEntity"/>
        <mapping class="com.coursework.poker.entity.OperationEntity"/>
        <mapping class="com.coursework.poker.entity.OperationTypeEntity"/>
        <mapping class="com.coursework.poker.entity.PhonePrefixEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>